In [1]:
import numpy as np 
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [ ]:
"""
1.  Értelmezd az adatokat!!!
    A feladat megoldásához használd a NJ transit + Amtrack csv-t a moodle-ból.
    A NJ-60k az a megoldott. Azt fogom használni a modellek teszteléséhez, illetve össze tudod hasonlítani az eredményedet.    

2. Írj egy osztályt a következő feladatokra:  
     2.1 Neve legyen NJCleaner és mentsd el a NJCleaner.py-ba. Ebben a fájlban csak ez az osztály legyen.
     2.2 Konsturktorban kapja meg a csv elérési útvonalát és olvassa be pandas segítségével és mentsük el a data (self.data) osztályszintű változóba 
     2.3 Írj egy függvényt ami sorbarendezi a dataframe-et 'scheduled_time' szerint növekvőbe és visszatér a sorbarendezett df-el, a függvény neve legyen 'order_by_scheduled_time' és térjen vissza a df-el  
     2.4 Dobjuk el a from és a to oszlopokat, illetve azokat a sorokat ahol van nan és adjuk vissza a df-et. A függvény neve legyen 'drop_columns_and_nan' és térjen vissza a df-el  
     2.5 A date-et alakítsd át napokra, pl.: 2018-03-01 --> Thursday, ennek az oszlopnak legyen neve a 'day'. Ezután dobd el a 'date' oszlopot és térjen vissza a df-el. A függvény neve legyen 'convert_date_to_day' és térjen vissza a df-el   
     2.6 Hozz létre egy új oszlopot 'part_of_the_day' névvel. A 'scheduled_time' oszlopból számítsd ki az alábbi értékeit. A 'scheduled_time'-ot dobd el. A függvény neve legyen 'convert_scheduled_time_to_part_of_the_day' és térjen vissza a df-el  
         4:00-7:59 -- early_morning  
         8:00-11:59 -- morning  
         12:00-15:59 -- afternoon  
         16:00-19:59 -- evening  
         20:00-23:59 -- night  
         0:00-3:59 -- late_night  
    2.7 A késéseket jelöld az alábbiak szerint. Az új osztlop neve legyen 'delay'. A függvény neve legyen pedig 'convert_delay' és térjen vissza a df-el
         0min <= x < 5min   --> 0  
         5min <= x          --> 1  
    2.8 Dobd el a felesleges oszlopokat 'train_id' 'actual_time' 'delay_minutes'. A függvény neve legyen 'drop_unnecessary_columns' és térjen vissza a df-el
    2.9 Írj egy olyan metódust, ami elmenti a dataframe első 60 000 sorát. A függvénynek egy string paramétere legyen, az pedig az, hogy hova mentse el a csv-t (pl.: 'data/NJ.csv'). A függvény neve legyen 'save_first_60k'. 
    2.10 Írj egy függvényt ami a fenti függvényeket összefogja és megvalósítja (sorbarendezés --> drop_columns_and_nan --> ... --> save_first_60k), a függvény neve legyen 'prep_df'. Egy paramnétert várjon, az pedig a csv-nek a mentési útvonala legyen. Ha default value-ja legyen 'data/NJ.csv'

3.  A feladatot a HAZI06.py-ban old meg.
    Az órán megírt DecisionTreeClassifier-t fit-eld fel az első feladatban lementett csv-re. 
    A feladat célja az, hogy határozzuk meg azt, hogy a vonatok késnek-e vagy sem. 0p <= x < 5p --> nem késik (0), ha 5p <= x --> késik (1).
    Az adatoknak a 20% legyen test és a splitelés random_state-je pedig 41 (mint órán)
    A testset-en 80% kell elérni. Ha megvan a minimum százalék, akkor azzal paraméterezd fel a decisiontree-t és azt kell leadni.

    A leadásnál csak egy fit kell, ezt azzal a paraméterre paraméterezd fel, amivel a legjobb accuracy-t elérted.

    A helyes paraméter megtalálásához használhatsz grid_search-öt.
    https://www.w3schools.com/python/python_ml_grid_search.asp 

4.  A tanításodat foglald össze 4-5 mondatban a HAZI06.py-ban a fájl legalján kommentben. Írd le a nehézségeket, mivel próbálkoztál, mi vált be és mi nem. Ezen kívül írd le 10 fitelésed eredményét is, hogy milyen paraméterekkel probáltad és milyen accuracy-t értél el. 
Ha ezt feladatot hiányzik, akkor nem fogadjuk el a házit!

HAZI-
    HAZI06-
        -NJCleaner.py
        -HAZI06.py

##################################################################
##                                                              ##
## A feladatok közül csak a NJCleaner javítom unit test-el      ##
## A decision tree-t majd manuálisan fogom lefuttatni           ##
## NJCleaner - 10p, Tanítás - acc-nál 10%-ként egy pont         ##
## Ha a 4. feladat hiányzik, akkor nem tudjuk elfogadni a házit ##
##                                                              ##
##################################################################
"""

In [2]:
def readcsv(csv):
    return pd.read_csv(csv)

data=readcsv('2018_03.csv')
print(data)

              date train_id  stop_sequence                   from  from_id  \
0       2018-03-01     3805            1.0  New York Penn Station      105
1       2018-03-01     3805            2.0  New York Penn Station      105
2       2018-03-01     3805            3.0     Secaucus Upper Lvl    38187
3       2018-03-01     3805            4.0    Newark Penn Station      107
4       2018-03-01     3805            5.0         Newark Airport    37953
...            ...      ...            ...                    ...      ...
256503  2018-03-31     0534            2.0             Bay Street       14
256504  2018-03-31     0534            3.0             Glen Ridge       50
256505  2018-03-31     0534            4.0             Bloomfield       19
256506  2018-03-31     0534            5.0      Watsessing Avenue      154
256507  2018-03-31     0534            6.0    Newark Broad Street      106

                           to  to_id       scheduled_time  \
0       New York Penn Station    105  2018-03-02 01:22:00
1          Secaucus Upper Lvl  38187  2018-03-02 01:31:00
2         Newark Penn Station    107  2018-03-02 01:40:00
3              Newark Airport  37953  2018-03-02 01:45:00
4             North Elizabeth    109  2018-03-02 01:49:00
...                       ...    ...                  ...
256503             Glen Ridge     50  2018-03-31 19:02:00
256504             Bloomfield     19  2018-03-31 19:05:00
256505      Watsessing Avenue    154  2018-03-31 19:07:00
256506    Newark Broad Street    106  2018-03-31 19:13:00
256507                Hoboken     63  2018-03-31 19:38:00

                actual_time  delay_minutes     status               line  \
0       2018-03-02 01:21:05       0.000000   departed   Northeast Corrdr
1       2018-03-02 01:31:08       0.133333   departed   Northeast Corrdr
2       2018-03-02 01:40:07       0.116667   departed   Northeast Corrdr
3       2018-03-02 01:45:10       0.166667   departed   Northeast Corrdr
4       2018-03-02 01:49:10       0.166667   departed   Northeast Corrdr
...                     ...            ...        ...                ...
256503  2018-03-31 19:05:07       3.116667   departed  Montclair-Boonton
256504  2018-03-31 19:08:06       3.100000   departed  Montclair-Boonton
256505  2018-03-31 19:10:11       3.183333   departed  Montclair-Boonton
256506  2018-03-31 19:21:02       8.033333   departed  Montclair-Boonton
256507  2018-03-31 19:37:00       0.000000  estimated  Montclair-Boonton

              type
0       NJ Transit
1       NJ Transit
2       NJ Transit
3       NJ Transit
4       NJ Transit
...            ...
256503  NJ Transit
256504  NJ Transit
256505  NJ Transit
256506  NJ Transit
256507  NJ Transit

[256508 rows x 13 columns]

In [4]:
def order_by_scheduled_time(df):
    return df.sort_values('scheduled_time')

order_by_scheduled_time(data)

,date,train_id,stop_sequence,from,from_id,to,to_id,scheduled_time,actual_time,delay_minutes,status,line,type
5283,2018-03-01,3806,1.0,Trenton,148,Trenton,148,2018-03-01 03:48:00,2018-03-01 04:02:07,14.116667,departed,Northeast Corrdr,NJ Transit
1270,2018-03-01,0042,1.0,Port Jervis,123,Port Jervis,123,2018-03-01 03:50:00,2018-03-01 03:50:04,0.066667,departed,Bergen Co. Line,NJ Transit
5284,2018-03-01,3806,2.0,Trenton,148,Hamilton,32905,2018-03-01 03:54:00,2018-03-01 04:02:07,8.116667,departed,Northeast Corrdr,NJ Transit
208,2018-03-01,3202,1.0,Long Branch,74,Long Branch,74,2018-03-01 03:58:00,2018-03-01 03:58:01,0.016667,departed,No Jersey Coast,NJ Transit
5285,2018-03-01,3806,3.0,Hamilton,32905,Princeton Junction,125,2018-03-01 04:00:00,2018-03-01 04:02:07,2.116667,departed,Northeast Corrdr,NJ Transit
...,...,...,...,...,...,...,...,...,...,...,...,...,...
256459,2018-03-31,A663,NaN,Trenton,148,Philadelphia,1,NaN,2018-03-31 11:20:08,NaN,departed,KEYSTONE,Amtrak
256460,2018-03-31,A664,NaN,Philadelphia,1,Philadelphia,1,NaN,2018-03-31 11:26:07,NaN,departed,Amtrak,Amtrak
256461,2018-03-31,A664,NaN,Philadelphia,1,Trenton,148,NaN,2018-03-31 12:07:04,NaN,departed,Amtrak,Amtrak
256462,2018-03-31,A664,NaN,Trenton,148,Newark Penn Station,107,NaN,2018-03-31 12:47:04,NaN,departed,Amtrak,Amtrak
256463,2018-03-31,A664,NaN,Newark Penn Station,107,New York Penn Station,105,NaN,2018-03-31 13:01:11,NaN,departed,Amtrak,Amtrak

In [6]:
def drop_columns_and_nan(df):
        data= df.drop(columns=['from', 'to']).dropna()        
        return data

drop_columns_and_nan(data)

,date,train_id,stop_sequence,from_id,to_id,scheduled_time,actual_time,delay_minutes,status,line,type
0,2018-03-01,3805,1.0,105,105,2018-03-02 01:22:00,2018-03-02 01:21:05,0.000000,departed,Northeast Corrdr,NJ Transit
1,2018-03-01,3805,2.0,105,38187,2018-03-02 01:31:00,2018-03-02 01:31:08,0.133333,departed,Northeast Corrdr,NJ Transit
2,2018-03-01,3805,3.0,38187,107,2018-03-02 01:40:00,2018-03-02 01:40:07,0.116667,departed,Northeast Corrdr,NJ Transit
3,2018-03-01,3805,4.0,107,37953,2018-03-02 01:45:00,2018-03-02 01:45:10,0.166667,departed,Northeast Corrdr,NJ Transit
4,2018-03-01,3805,5.0,37953,109,2018-03-02 01:49:00,2018-03-02 01:49:10,0.166667,departed,Northeast Corrdr,NJ Transit
...,...,...,...,...,...,...,...,...,...,...,...
256503,2018-03-31,0534,2.0,14,50,2018-03-31 19:02:00,2018-03-31 19:05:07,3.116667,departed,Montclair-Boonton,NJ Transit
256504,2018-03-31,0534,3.0,50,19,2018-03-31 19:05:00,2018-03-31 19:08:06,3.100000,departed,Montclair-Boonton,NJ Transit
256505,2018-03-31,0534,4.0,19,154,2018-03-31 19:07:00,2018-03-31 19:10:11,3.183333,departed,Montclair-Boonton,NJ Transit
256506,2018-03-31,0534,5.0,154,106,2018-03-31 19:13:00,2018-03-31 19:21:02,8.033333,departed,Montclair-Boonton,NJ Transit
256507,2018-03-31,0534,6.0,106,63,2018-03-31 19:38:00,2018-03-31 19:37:00,0.000000,estimated,Montclair-Boonton,NJ Transit

In [7]:
def convert_date_to_day(df) -> pd.DataFrame:
        df['day'] = (pd.to_datetime(df['date'])).dt.day_name()
        df = df.drop(columns=['date'])
        
        return df

convert_date_to_day(data)

,train_id,stop_sequence,from,from_id,to,to_id,scheduled_time,actual_time,delay_minutes,status,line,type,day
0,3805,1.0,New York Penn Station,105,New York Penn Station,105,2018-03-02 01:22:00,2018-03-02 01:21:05,0.000000,departed,Northeast Corrdr,NJ Transit,Thursday
1,3805,2.0,New York Penn Station,105,Secaucus Upper Lvl,38187,2018-03-02 01:31:00,2018-03-02 01:31:08,0.133333,departed,Northeast Corrdr,NJ Transit,Thursday
2,3805,3.0,Secaucus Upper Lvl,38187,Newark Penn Station,107,2018-03-02 01:40:00,2018-03-02 01:40:07,0.116667,departed,Northeast Corrdr,NJ Transit,Thursday
3,3805,4.0,Newark Penn Station,107,Newark Airport,37953,2018-03-02 01:45:00,2018-03-02 01:45:10,0.166667,departed,Northeast Corrdr,NJ Transit,Thursday
4,3805,5.0,Newark Airport,37953,North Elizabeth,109,2018-03-02 01:49:00,2018-03-02 01:49:10,0.166667,departed,Northeast Corrdr,NJ Transit,Thursday
...,...,...,...,...,...,...,...,...,...,...,...,...,...
256503,0534,2.0,Bay Street,14,Glen Ridge,50,2018-03-31 19:02:00,2018-03-31 19:05:07,3.116667,departed,Montclair-Boonton,NJ Transit,Saturday
256504,0534,3.0,Glen Ridge,50,Bloomfield,19,2018-03-31 19:05:00,2018-03-31 19:08:06,3.100000,departed,Montclair-Boonton,NJ Transit,Saturday
256505,0534,4.0,Bloomfield,19,Watsessing Avenue,154,2018-03-31 19:07:00,2018-03-31 19:10:11,3.183333,departed,Montclair-Boonton,NJ Transit,Saturday
256506,0534,5.0,Watsessing Avenue,154,Newark Broad Street,106,2018-03-31 19:13:00,2018-03-31 19:21:02,8.033333,departed,Montclair-Boonton,NJ Transit,Saturday
256507,0534,6.0,Newark Broad Street,106,Hoboken,63,2018-03-31 19:38:00,2018-03-31 19:37:00,0.000000,estimated,Montclair-Boonton,NJ Transit,Saturday

In [8]:
def convert_scheduled_time_to_part_of_the_day(df):
        df['part_of_the_day'] = pd.to_datetime(df['scheduled_time']).dt.hour.apply(lambda time: 'early_morning' if time >= 4 and time < 8 else('morning' if time >= 8 and time < 12 else('afternoon' if time >= 12 and time < 16 else('evening' if time >= 16 and time < 20 else('night' if time >= 20 and time < 24 else('late_night'))))))
        df= df.drop(columns=['scheduled_time'])        
        return df

convert_scheduled_time_to_part_of_the_day(data)

,date,train_id,stop_sequence,from,from_id,to,to_id,actual_time,delay_minutes,status,line,type,day,part_of_the_day
0,2018-03-01,3805,1.0,New York Penn Station,105,New York Penn Station,105,2018-03-02 01:21:05,0.000000,departed,Northeast Corrdr,NJ Transit,Thursday,late_night
1,2018-03-01,3805,2.0,New York Penn Station,105,Secaucus Upper Lvl,38187,2018-03-02 01:31:08,0.133333,departed,Northeast Corrdr,NJ Transit,Thursday,late_night
2,2018-03-01,3805,3.0,Secaucus Upper Lvl,38187,Newark Penn Station,107,2018-03-02 01:40:07,0.116667,departed,Northeast Corrdr,NJ Transit,Thursday,late_night
3,2018-03-01,3805,4.0,Newark Penn Station,107,Newark Airport,37953,2018-03-02 01:45:10,0.166667,departed,Northeast Corrdr,NJ Transit,Thursday,late_night
4,2018-03-01,3805,5.0,Newark Airport,37953,North Elizabeth,109,2018-03-02 01:49:10,0.166667,departed,Northeast Corrdr,NJ Transit,Thursday,late_night
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
256503,2018-03-31,0534,2.0,Bay Street,14,Glen Ridge,50,2018-03-31 19:05:07,3.116667,departed,Montclair-Boonton,NJ Transit,Saturday,evening
256504,2018-03-31,0534,3.0,Glen Ridge,50,Bloomfield,19,2018-03-31 19:08:06,3.100000,departed,Montclair-Boonton,NJ Transit,Saturday,evening
256505,2018-03-31,0534,4.0,Bloomfield,19,Watsessing Avenue,154,2018-03-31 19:10:11,3.183333,departed,Montclair-Boonton,NJ Transit,Saturday,evening
256506,2018-03-31,0534,5.0,Watsessing Avenue,154,Newark Broad Street,106,2018-03-31 19:21:02,8.033333,departed,Montclair-Boonton,NJ Transit,Saturday,evening
256507,2018-03-31,0534,6.0,Newark Broad Street,106,Hoboken,63,2018-03-31 19:37:00,0.000000,estimated,Montclair-Boonton,NJ Transit,Saturday,evening

In [11]:
def convert_delay(df):
        df['delay'] = df['delay_minutes'].apply(lambda x: 0 if x >= 0 and x < 5 else(1))
        return df

In [12]:
def drop_unnecessary_columns(df):
        df = df.drop(columns=['train_id', 'actual_time', 'delay_minutes'])
        
        return df

In [13]:
def save_first_60k(path,df):
        df.head(60000).to_csv(path)

In [16]:
def prep_df(path:str = 'NJ.csv'):
        order_by_scheduled_time(data)
        drop_columns_and_nan(data)
        convert_date_to_day(data)
        convert_scheduled_time_to_part_of_the_day(data)
        convert_delay(data)
        drop_unnecessary_columns(data)
        save_first_60k(path,data)

prep_df()